@font-face {
  font-family: "Lustria";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lustria-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Lustria"), local("Lustria-Regular"),
    url("../fonts/lustria-v7-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/lustria-v7-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/lustria-v7-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/lustria-v7-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/lustria-v7-latin-regular.svg#Lustria") format("svg"); /* Legacy iOS */
}
* {
  font-family: Lustria, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
  font-weight: 400;
}

body {
  margin: 0;
  height: 1500px;
  line-height: 1.80857;
}

a,
a:link,
a:active {
  color: black;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
}

li {
  display: inline;
}

.nav-container {
  position: fixed;
  width: 100%;
  padding: 0.5rem 1rem;
}

.nav-box {
  width: 70%;

  display: flex;

  margin: 0 auto;
  padding: 0 15px;

  background-color: #ffffff;

  justify-content: center;
  align-items: center;
}

.nav-logo {
  padding: 5px 0;
}

.nav-logo img {
  display: block;
  width: auto;
  height: 43px;
}
.nav-menu {
  margin-left: auto;
  text-transform: uppercase;
}
.nav-menu a {
  display: inline-block;

  padding: 10px 8px;
  color: #575089;

  letter-spacing: 1px;
}

.nav-menu a:hover {
  background-color: #241c65;
  color: white;
}

.content-container {
  padding-top: 70px;
}

.About {
  display: flex;

  justify-content: center;
  flex-direction: row-reverse;
}

.About-message {
  width: 540px;
  padding: 0 14px;
  margin-left: 65px;
}

.About-message > h1 {
  font-size: 38px;
}

.About-message > p {
  margin-bottom: 20px;
  color: #999999;
}

.About-img {
  width: 540px;
  height: 360px;
}

.About-img > img {
  width: 100%;
  height: auto;

  border-radius: 10px;
}
