@font-face {
  font-family: "Lustria";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lustria-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Lustria"), local("Lustria-Regular"),
    url("../fonts/lustria-v7-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/lustria-v7-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/lustria-v7-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/lustria-v7-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/lustria-v7-latin-regular.svg#Lustria") format("svg"); /* Legacy iOS */
}

@keyframes navEvent {
  0% {
    transform: scaleY(0.2);
    color: #241c65;
  }

  100% {
    color: #fff;
    transform: scaleY(1);
  }
}

/* 
  /////////////////////////////////////////////////////////////
          기본 설정
  /////////////////////////////////////////////////////////////
*/

* {
  font-family: Lustria, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 14px;
  font-weight: 400;
}

body {
  margin: 0;
  height: 1500px;
  line-height: 1.80857;
}

a,
a:link,
a:active {
  color: black;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
}

li {
  display: inline;
}

button {
  border: none;
  background-color: #fff;
}

p {
  color: #999999;
}

article {
  width: 100%;
  padding: 70px 0;
}

article:nth-child(2n) {
  background-color: #f2f3f5;
}

/* 
  //////////////////////////////////////////////////////
      공통 CSS
  //////////////////////////////////////////////////////
*/

.hover-animation {
  position: relative;

  border-radius: 10px;

  margin: 20px 0;

  color: #fff;
  background-color: #57606f;
}

.hover-animation > span {
  position: relative;

  font-size: 20px;

  z-index: 3;
}

.hover-animation::before {
  content: "";

  z-index: 1;

  position: absolute;
  top: 0;
  left: 0;

  transition: all 0.85s cubic-bezier(0.68, -0.8, 0.27, 1.55);
  background-color: #241c65;
  border-radius: 10px 0 0 10px;
  width: 50%;
  height: 100%;
}

.hover-animation:hover::before {
  border-radius: 10px;
  width: 100%;
}

.content-box {
  margin: 0 auto;
  width: 60%;
}

.article-title {
  padding-bottom: 60px;
  text-align: center;
}

.article-title > p {
  font-size: 18px;
}

.sub-title {
  font-size: 38px;
  padding-bottom: 25px;
}

.flex {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

/* 
  /////////////////////////////////////////////
      Nav 
  /////////////////////////////////////////////
*/

.nav-container {
  position: fixed;

  width: 100%;
  padding: 0.5rem 1rem;

  z-index: 3;

  background-color: #fff;
}

.nav-box {
  width: 63%;

  display: flex;

  margin: 0 auto;
  padding: 0 15px;

  background-color: #ffffff;

  justify-content: center;
  align-items: center;
}

.nav-logo {
  padding: 5px 0;
}

.nav-logo img {
  display: block;
  width: auto;
  height: 43px;
}
.nav-menu {
  margin-left: auto;
  text-transform: uppercase;
}

.nav-menu-item {
  display: inline-block;
}

.nav-menu-item a {
  display: inline-block;

  padding: 10px 8px;
  color: #575089;
  letter-spacing: 1px;
}

.nav-menu-item:hover a {
  background-color: #241c65;
  color: #fff;

  animation-name: navEvent;
  animation-duration: 0.3s;
}

/* 
  /////////////////////////////////////////////
      About
  /////////////////////////////////////////////
*/

.about {
  display: flex;
  padding-top: 65px;

  justify-content: space-between;
  flex-direction: row-reverse;
}

.about-message {
  width: 47%;
  padding: 0 14px;
  margin-left: 45px;
}

.about-message > h2 {
  font-weight: 300;

  line-height: 120%;

  color: #333333;

  padding-bottom: 10px;
}

.about-message > p {
  margin-bottom: 20px;
}

.about-img {
  position: relative;
  width: 50%;
  height: 360px;
}

.about-back {
  position: absolute;

  top: -25px;
  right: -25px;

  width: 100%;
  height: 100%;

  border-radius: 10px;
  background-color: #241c65;
}

.about-front {
  position: absolute;

  bottom: -25px;
  left: -25px;

  width: 100%;
  height: 100%;

  border-radius: 10px;
  border: 3px solid #57606f;
}

.about-img > img {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 2;

  border-radius: 10px;
}

button.hover-animation {
  width: 208px;
  height: 56px;
}

/* 
  /////////////////////////////////////////////
      Service
  /////////////////////////////////////////////
*/

.services {
  padding-top: 65px;
}

.services-box-item {
  width: 30%;
  height: 285px;

  padding: 15px;
}

.services-box-item > i {
  position: relative;

  margin: 20px 15px;

  z-index: 3;
  font-size: 50px;
  color: white;
}

.services-box-item > h3 {
  position: relative;

  font-weight: bold;

  z-index: 3;

  font-size: 22px;
  line-height: 120%;

  padding-bottom: 10px;
}

.services-box-item > p {
  position: relative;

  z-index: 3;
  font-size: 16px;

  color: #fff;

  margin-bottom: 16px;
}

/* 
  /////////////////////////////////////////////
      Portfolio
  /////////////////////////////////////////////
*/

.portfolio-content {
  margin: 0 auto;

  text-align: center;
}

.portfolio-content > button {
  padding: 12px 40px;
  font-size: 14px;

  margin-bottom: 20px;
}

.portfolio-content > button:focus {
  background-color: #241c65;
  color: #fff;
}

.portfolio-item {
  width: 30%;
  position: relative;
}

.portfolio-item-img {
  width: 100%;
  height: auto;

  display: block;

  margin: 20px 0;

  border: 2px solid #241c65;
}

.portfolio-item-cover {
  width: 80%;
  height: 75%;

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -10%);

  opacity: 0;

  transition: all 0.5s;
  background-color: #fff;
}

.portfolio-item:hover .portfolio-item-cover {
  opacity: 0.8;

  transform: translate(-50%, -50%);
}

.portfolio-item-cover > button {
  padding: 5px 10px;

  position: absolute;
  top: 50%;
  left: 50%;

  background-color: #241c65;
  color: #fff;

  transform: translate(-50%, -50%);
}

/* 
  ///////////////////////////////////////////
      Testimonials
  ///////////////////////////////////////////
*/
